<div class="navbar">

    <!-- Search -->

    <div class="search-box">

        <span class="search-icon">🔍</span>

        <input
            type="text"
            placeholder="Search videos, transcripts, tags...">

    </div>

    <!-- Right Section -->

    <div class="navbar-right">

        <button class="icon-btn">
            🔔
        </button>

        <button class="upload-btn" routerLink="/upload">
            ⬆ Upload Video
        </button>
        

        <div class="profile"  routerLink="/profile" >

            <img
                src="https://i.pravatar.cc/100"
                alt="Profile"
              >

            <div class="profile-info">

                <h4 >Producer</h4>
                
                <p >Administrator</p>

            </div>

        </div>

    </div>

</div>