<div class="navbar">

    <!-- Search -->

  

    <!-- Right Section -->

    <div class="navbar-right">

       
        <button class="upload-btn" routerLink="/upload">
            ⬆ Upload Video
        </button>
        

        <div class="profile"  routerLink="/profile" >

            <img
                src="https://i.pravatar.cc/100"
                alt="Profile"
              >

            <div class="profile-info">

                <h4 >Producer</h4>
                
                <p >Administrator</p>

            </div>

        </div>

    </div>

</div>