<div class="forgot-container">

    <div class="forgot-card">

        <h1>ScriptScout</h1>

        <h2>Forgot Password</h2>

        <p>Enter your registered email address.</p>

        <input
            type="email"
            placeholder="Enter Email"
            [(ngModel)]="email">

        <button (click)="sendResetLink()">
            Send Reset Link
        </button>

        <p class="back">

            <span (click)="backToLogin()">

                Back to Login

            </span>

        </p>

    </div>

</div>